{minimum_otp_vsn, "18.0"}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{profiles, [
    {test, [{deps, [
        {proper, ".*",
            {git, "git://github.com/manopapad/proper.git", {tag, "v1.2"}}},
        {cth_readable, ".*",
            {git, "https://github.com/ferd/cth_readable.git", {ref, "0fc53d1"}}}
    ]}]}
]}.
