{minimum_otp_vsn, "18.0"}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{profiles, [
    {test, [{deps, [
        {proper, ".*",
            {git, "https://github.com/proper-testing/proper.git", {tag, "v1.3"}}},
        {cth_readable, ".*",
            {git, "https://github.com/ferd/cth_readable.git", {tag, "v1.4.2"}}}
    ]}]}
]}.

{dialyzer, [{warnings, [unknown]}]}.
